{% extends 'sidebar.html.twig' %}

{% block title %}InnovShop - {{ app.user.prenom }} {{ app.user.nom }}{% endblock %}

{% block client_content %}
    <div class="account-container">
        <div class="mg-2 col-2">
            <h2>Informations personnelles</h2>
            <div class="align-right">
                {{ form_start(formClient) }}
                {{ form_row(formClient.nom) }}
                {{ form_row(formClient.prenom) }}
                {{ form_row(formClient.mail) }}
                <p class="align-left" style="font-size:0.8rem;margin-top:1rem;">Tapez et confirmez votre mot de passe pour confirmer les modifications.</br>Vous pouvez aussi modifier le mot de passe si vous le souhaitez.</p>
                {{ form_row(formClient.password) }}
                <button type="submit" class="mgt-1 button button--secondary">Modifier</button>
                {{ form_end(formClient) }}
            </div>
        </div>

        <div class="mgx-2 col-2">
            <h2>Adresse de livraison</h2>
            <div class="align-right">
                {{ form_start(formAdresse) }}
                {{ form_row(formAdresse.adresse) }}
                {{ form_row(formAdresse.complement_adr) }}
                {{ form_row(formAdresse.CP) }}
                {{ form_row(formAdresse.ville) }}
                {{ form_row(formAdresse.pays) }}
                <button type="submit" class="mgt-1 button button--secondary">Modifier</button>
                {{ form_end(formAdresse) }}
            </div>
        </div>
    </div>

{% endblock %}
