<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>{% block title %}InnovShop{% endblock %}</title>
        <link rel="icon" href="/images/logo.png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            <script src="https://kit.fontawesome.com/f7370d9031.js" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <header>
        <div class="menu pdgx-4">
            <button class="burger-menu" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="nameSite col-3" style="width: 100%;">
                <h1>
                    <a href="{{ path('index') }}">InnovShop</a>
                </h1>
            </div>

            <div class="lienMenu col-3">
                <div class="itemMenu itemMenu--user">
                    <a class="itemMenu" href="{{ path('client.index') }}">
                        <span class="material-icons">person</span>
                        {% if app.user %}
                            <p>{{ app.user.prenom }} {{ app.user.nom }}</p>
                        {% else %}
                            <p>Mon compte</p>
                        {% endif %}
                    </a>
                    {% if app.user %}
                        <div class="hover-user">
                            <div class="log-out mgt-1">
                                <a class="button button--deny button--small" href="{{ path('app_logout') }}">Se déconnecter</a>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <a href="{{ path('app_cart') }}" class="itemMenu cart">
                    <span class="material-icons">shopping_basket</span>
                    <p>Panier</p>
                    {% if cartItemCount != 0 %}
                        <span id="cart-count" class="cart-count">{{ cartItemCount }}</span>
                    {% endif %}
                </a>
            </div>
        </div>

        <div class="navbar pdgx-2">
            <nav>
                <ul class="row navbar-list">
                    <!-- Icone de la barre menu mais dans le menu burger -->
                    <li class="burger-lienMenu">
                        <div class="itemMenu itemMenu--user">
                            <a class="itemMenu" href="{{ path('client.index') }}">
                                <span class="material-icons">person</span>
                            </a>
                            {% if app.user %}
                                <div class="hover-user">
                                    <div class="log-out mgt-1">
                                        <a class="button button--deny button--small" href="{{ path('app_logout') }}" style="color:#cd8d43;">Se déconnecter</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        <a href="{{ path('app_cart') }}" class="itemMenu cart">
                            <span class="material-icons">shopping_basket</span>
                            {% if cartItemCount != 0 %}
                                <span id="cart-count" class="cart-count" style="color: white;">{{ cartItemCount }}</span>
                            {% endif %}
                        </a>
                    </li>

                    <div class="row">
                        <li class="pdx-1 nav-item burger-orders">
                            <h3>
                                <a href="{{ path('app_facture') }}">Commandes en cours</a>
                            </h3>
                        </li>
                        <li class="pdx-1 nav-item burger-orders">
                            <h3>
                                <a href="{{ path('app_facture_past') }}">Commandes passées</a>
                            </h3>
                        </li>
                        {% for category in categories %}
                            <li class="pdx-1 nav-item color-{{ loop.index }}">
                                <h3><a href="/catalog?filterBy[]={{ category.id }}">{{ category.name }}</a></h3>

                                <div class="description-category">
                                    {{ category.description | raw }}
                                </div>
                            </li>
                        {% endfor %}
                        <li class="nav-item color-{{ totalCategories + 1 }}"><h3><a href="/catalog">Tous les articles</a></h3></li>
                    </div>
                </ul>
            </nav>
        </div>
    </header>

    <body>
        <main>
            {% block body %}

                <!-- Popup pour confirmer l'ajout au panier -->
                <div id="popup" class="popup" style="display: none;">
                    <div class="popup-content">
                        <p id="popup-message" class="popup-message"></p>
                        <button class="close-popup">Fermer</button>
                    </div>
                </div>

            {% endblock %}
        </main>

        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const burgerMenu = document.querySelector(".burger-menu");
                const navbar = document.querySelector(".navbar");

                burgerMenu.addEventListener("click", () => {
                    navbar.classList.toggle("active");
                });
            });
        </script>

    </body>

    <footer>

        <div class="lienFooter row">
            <div class="col-4 align-center mgy-2">
                <a href="">Besoin d'aide ? Contactez nous</a>
            </div>
            <div class="col-4 align-center mgy-2">
                <a href="">Signaler un problème</a>
            </div>
            <div class="col-4 align-center mgy-2">
                <a href="">Mentions légales</a>
            </div>
            <div class="col-4 align-center mgy-2">
                <a href="">Conditions générales de vente & CGU</a>
            </div>
        </div>

        <div class="reseaux align-center">
            <!-- Barre de separation -->
            <div class="col-2" style="border-top: #38235E solid 1px;"></div>

            <p class="col-1" style="padding-top: 2em;padding-bottom: 1em;font-weight: 200;">Rejoignez nous sur les réseaux sociaux</p>
            <div class="logoReseaux col-2">
                <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer" class="fa-brands fa-square-facebook"></a>
                <a href="https://www.x.com" target="_blank" rel="noopener noreferrer" class="fa-brands fa-square-x-twitter"></a>
                <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" class="fa-brands fa-instagram"></a>
                <a href="https://www.tiktok.com" target="_blank" rel="noopener noreferrer" class="fa-brands fa-tiktok"></a>
                <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer" class="fa-brands fa-youtube"></a>
            </div>
        </div>

        <div class="cgu">
            <p class="align-center mgy-3">
                InnovShop, votre boutique en ligne dédiée aux technologies innovantes. Découvrez une large sélection de produits high-tech et des gadgets de pointe pour les passionnés de technologie, avec des nouveautés chaque semaine.<br>
                Les images des produits sont à titre indicatif, le produit peut différer des éléments affichés sur la photo. Consultez la fiche produit pour plus de détails.
            </p>
            <p class="align-center">
                © 2024 InnovShop. Ce site web est à but uniquement scolaire, aucun contenu n'est réellement en vente.<br>
                Le contenu de ce site, y compris textes, images et graphismes, est protégé par le droit d'auteur.<br>
                Toute utilisation, reproduction ou distribution non autorisée est interdite sans consentement préalable d’InnovShop.

            </p>
        </div>
    </footer>
</html>
