{% extends 'base.html.twig' %}

{% block title %}InnovShop - {{ article.title }}{% endblock %}

{% block body %}
    <div class="container">

        <p>Ici il y aura un fil d'ariane</p>

        <div class="row mgy-4">


            <div class="images-article col-2">

                <!-- Image principale -->
                <div class="main-image-container">
                    <img src="/images/uploads/{{ article.images[0] }}" alt="" id="mainImage"/>
                </div>

                <!-- Ligne de miniatures -->
                <div class="selector-images-row">
                    {% for image in article.images %}
                        <div class="row-4">
                            <img class="select-image" src="/images/uploads/{{ image }}" alt=""/>
                        </div>
                    {% endfor %}
                </div>
            </div>




            <div class="content-article col-2">
                <div>
                    <h2 class="mgb-2">{{ article.title }}</h2>
                    <p>{{ article.description | raw }}</p>
                    <h4 class="mgy-2">Coloris disponibles</h4>
                    <form action="">
                        <select name="" id="">
                            {% for color in article.colors %}
                                <option value="{{ color }}">{{ color }}</option>
                            {% endfor %}
                        </select>
                    </form>

                </div>
                <div class="prix-panier-article-show">
                    <p class="prix-article">{{ article.price }} €</p>
                    <button class="button button--primary">Ajouter au panier</button>
                </div>

            </div>
        </div>
        <div class="description-detail-article mgt-4">{{ article.descriptionDetail | raw }}</div>
        <div class="separation"></div>



    </div>

{% endblock %}
